body {
    background-color: lightgrey;

    margin: 0;
    height: 100%;
    overflow: hidden
}

#container {
    position: relative;
    height: 300px;
    width: 600px;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img img {
    border-radius: 50%;
    width: 25%;
    height: auto;
    z-index: 1;
}

#frame {
    background-color: white;
    border: 3px solid darkgrey;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    text-align: center;
}

#text {
    width: auto;
    height: auto;
    border-bottom: 3px solid darkgrey;
}

h1 {
    align-items: center;
    margin-bottom: 2%;
}

h2 {
    font-size: 100%;
    margin-top: 0;
    color: grey;
}

p {
    text-align: start;
    margin-left: 2%;
    margin-right: 2%;
}

#socialMedia {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fab {
    background-color: white;
    color: grey;
    font-size: 25px;
    margin-right: 15px;
}