/* Variables */
:root {
    --colorBackground: #1E1E1E;
    --colorText: #ffff;
    --colorSecondText: #009fff;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--colorBackground);
    position: relative;
    margin: 0;
    font-family: 'Orbitron';
    color: var(--colorText);
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    min-width: 100%;
    background-color: var(--colorBackground);
    z-index: 1;
}

header>div:first-child {
    font-size: 32pt;
    font-weight: bold;
}

header>div:last-child {
    font-size: 24pt;
    margin: auto;
    font-weight: 500;
}

header>div:last-child a {
    margin-right: 2.5rem;
}

a,
a:visited,
a:active,
a:hover,
a:focus-visible,
a:focus {
    color: unset !important;
    border: none !important;
    text-decoration: none;
}

.side-content>div {
    min-height: 100vh;
    scroll-snap-align: center;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: auto;
}

#left-side {
    max-width: 50%;
}

h1 {
    font-size: 48pt;
}

h2,
h3,
h1 {
    margin: 0;
}

p {
    line-height: 170%;
}

#home #socialMedia {
    display: flex;
    align-items: center;
}

#home #socialMedia a {
    margin-right: 1.5rem;
}

#home #socialMedia a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    border: 3px solid #ffff !important;
    width: 40px;
    height: 40px;
}

#home #socialMedia a:first-child {
    font-size: 40px;
    border: none !important;
}

#right-side,
#img {
    width: fit-content;
    display: flex;
    justify-content: center;
}

#img>div {
    max-width: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

#img>div>img {
    width: 112%;
    height: auto;
    transform: translateX(-20px);
}

#contact,
#about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 80rem;
    margin: auto;
    text-align: center;
}

#contact p,
#about p {
    font-size: 20pt;
    line-height: 220%;
    margin-bottom: 0;
}

#skills {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#skills>div {
    display: flex;
    text-align: center;
    margin: 30px 0;
}

#skills>div>div {
    width: 100px;
    padding: 0 35px;
}

#skills svg {
    fill: #C1C1C1;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    padding-top: 5rem;
}

#projects h1 {
    margin-bottom: 3rem;
}

#projects #projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .project {
    position: relative;
    width: 25%;
    min-width: 540px;
    padding: 0 3rem 3rem;
}

#projects .project:last-child {
    align-self: center;
}

#projects .project img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 15%;
}

#projects .project>div:last-child {
    display: none;
    position: absolute;
    text-align: center;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translateY(-55%) translateX(-50%);
}

#projects .project>div:last-child a {
    text-decoration: underline;
    color: var(--colorSecondText) !important;
}

.img-dark {
    filter: brightness(25%);
}

.show {
    display: block !important;
}

#contact {
    max-width: 90rem;
}

#contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #ffff !important;
    width: 55px;
    height: 55px;
    margin: auto;
}

#contact i {
    font-size: 35px;
}